@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply bg-transparent
   text-white px-4 py-3 
   flex justify-between items-center shadow-md;
}

.navbar-links {
  @apply flex flex-col md:flex-row gap-5;
  margin-right: 150px;
}

.avatar {
  width: 100%;
  max-width: 300px;
  margin: 40px auto 0;
  background-color: aliceblue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.nav-button {
  @apply flex justify-center gap-4 
  border border-black 
  text-black bg-white 
  px-4 py-2 rounded-3xl 
  hover:bg-blue-200 
  hover:-translate-y-1 
  transition-transform duration-200 ease-in-out;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 4px #1e90ff, 0 0 10px #00bfff, 0 0 20px #00bfff,
    0 0 30px #0099ff, 0 0 40px #0077cc;
}

@media (max-width: 1500px) {
  .navbar-links {
    @apply flex-col gap-4;
  }
}

@media (max-width: 700px) {
  .navbar-links {
    @apply flex-col gap-4;
    margin-right: 30px;
    margin-left: 20px;
  }

  .avatar {
    max-width: 200px;
    margin: 20px auto;
  }
}
