@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply bg-transparent
   text-white px-4 py-3 
   flex justify-between items-center shadow-md;
}

.navbar-links {
  @apply flex flex-col md:flex-row gap-5;
  margin-right: 80px;
}

.nav-button {
  @apply flex justify-center gap-4 border 
  border-ubuntu-light text-white px-4 py-2 rounded-3xl
   bg-ubuntu-light hover:bg-ubuntu-dark transition;
}

.logo {
  width: 300px;
  margin-left: 100px;
  margin-top: -30px;
}

@media (max-width: 1100px) {
  .navbar-links {
    @apply flex-col gap-4;
  }

  .logo {
    width: 200px;
    margin-left: 10px;
    margin-top: 30px;
  }
}
