@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/images/fondo2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}